
{% extends getPartial('page-design') %}
{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

{% block PartialHead %}
    <title>{{ trans("Ceres::Template.orderCheckout") }} | {{ config("Ceres.header.company_name") }}</title>
{% endblock %}

{% block PageBody %}

    <div class="page-content checkout container-max">
    	<div>
    		<script type="text/javascript"> 
			    var wpwlOptions = {
					style: "card",
			        onReady: function(){
						var buttonCancel = "<a href='{{ cancelUrl }}' class='wpwl-button btn_cancel'>Cancel</a>";
						var ttTestMode = "<div class='testmode'>THIS IS A TEST. NO REAL MONEY WILL BE TRANSFERED</div>";
						var headerWidget = "<h2 style='text-align: center'>Use alternative payment data</h2>";
			            jQuery('form.wpwl-form').find('.wpwl-button').before(buttonCancel);
			            {% if frameTestMode == 'TEST' %}
				            jQuery(".wpwl-container").wrap( "<div class='frametest'></div>").before(ttTestMode);   
			            {% endif %}
					},
					registrations: {
			        	hideInitialPaymentForms: false,
			        	requireCvv: false
			    	}
			    }
			</script>
    		<script src="{{ paymentWidgetUrl }}" type="text/javascript"></script>
	    	<form action="{{ paymentPageUrl }}" class="paymentWidgets" data-brands="{{ paymentBrand }}"></form>
		</div>
    </div>

{% endblock %}