<div class="shipping-addresses-select">
    <div>
        <div class="cmp cmp-address-list m-b-3">
            <div>
                <ul>
                    {% for value in creditCards %}
                        <li class="item">
                            <label class="item-inner">
                                <span class="item-content small">
                                    <strong>Ending in:{{ value.last4digits }}</strong> <span></span> 
                                    <span>Expires on:{{ value.expMonth }}/{{ value.expYear }}</span>
                                </span>
                                <div class="item-controls">
                                    <span class="item-edit">
                                        <a class="btn btn-medium btn-primary" href="/add-account/credit-card/{{ value.id }}">
                                            <i aria-hidden="true" class="fa fa-pencil-square-o"></i>
                                        </a>
                                    </span>
                                    <span class="item-remove">
                                        <a class="btn btn-medium btn-remove-address" href="payment/payreto/confirmation/account/delete/{{ value.id }}">
                                            <i aria-hidden="true" class="fa fa-times"></i>
                                        </a>
                                    </span>
                                </div>
                            </label>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="add-item"> 
        <a href="/add-account/credit-card" class="btn btn-primary btn-medium">
            New Account
            <i aria-hidden="true" class="fa fa-plus-square"></i></a>
    </div>
</div>