<div class="shipping-addresses-select">
    <div>
        <div class="cmp cmp-address-list m-b-3">
            <div>
                <ul>
                    {% for value in creditCards %}
                        <li class="item">
                            <label class="item-inner">
                                <span class="item-content">
                                    <div class="col-sm-2">
                                        {% if value.brand == 'VISA' %}
                                            <img src="{{ value.visa }}" width="80"/>
                                        {% elseif value.brand == 'AMEX' %}
                                            <img src="{{ value.amex }}" width="80"/>
                                        {% elseif value.brand == 'MASTER' %}
                                            <img src="{{ value.master }}" width="80"/>
                                        {% endif %}
                                    </div>
                                    <div class="col-sm-6">
                                        <strong>{{ trans('Payreto::Template.FRONTEND_MC_ENDING') }}:{{ value.last4digits }}</strong> <span></span> 
                                        <span>{{ trans('Payreto::Template.FRONTEND_MC_VALIDITY') }}:{{ value.expMonth }}/{{ value.expYear }}</span>
                                    </div>
                                </span>
                                <div class="item-controls">
                                    <span class="item-edit">
                                        <a class="btn btn-medium btn-primary" href="/change-account/credit-card/{{ value.id }}">
                                            <i aria-hidden="true" class="fa fa-pencil-square-o"></i>
                                        </a>
                                    </span>
                                    <span class="item-remove">
                                        <a class="btn btn-medium btn-remove-address" href="payment/payreto/confirmation/account/delete/{{ value.id }}">
                                            <i aria-hidden="true" class="fa fa-times"></i>
                                        </a>
                                    </span>
                                </div>
                            </label>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="add-item"> 
        <a href="/add-account/credit-card" class="btn btn-primary btn-medium">
            {{ trans('Payreto::Template.FRONTEND_MC_CARDNEW') }}
            <i aria-hidden="true" class="fa fa-plus-square"></i></a>
    </div>
</div>